---
---

@import "{{ site.theme }}";

.flex-wrapper {
  display: flex;
}

.flex-header {
  width: auto;
}

.flex-section {
  width: auto;
  margin-left: 20px;
}

.flex-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}