---
---

@import "{{ site.theme }}";

.flex-wrapper {
  display: flex;
  justify-content: center;
}

.flex-header {
  width: 25vw;
  padding-right: 6px;
  border-right: 1px solid grey;
}

.flex-section {
  width: 65vw;
  margin-left: 20px;
}

.flex-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  max-height: 128px;
  max-width: 128px;
}

@media(max-width: 980px) {
  .flex-wrapper {
    flex-direction: column;
  }

  .flex-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-left: 16px;
    padding-right: 16px;
    border-right: none;
    border-bottom: 1px solid black;
    margin-bottom: 16px;
  }

  .flex-section {
    width: 100%;
  }
}

@media(max-width: 570px) {
  .logo {
    max-height: 64px;
    max-width: 64px;
  }
}
